* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: URW Chancery L, cursive;
  color: #333;
}

h1 { 
  font-size: 60px; 
}

h2 {
  color: red;
}

img {
  width: 100%;
  height: auto;
}

.caption {
  color: gray;
  font-family: Helvetica, sans-serif;
  font-style: italic;
   text-align: center;
}

a:link {
  color: black;
}

a:visited {
  color: darkred;
}

a:hover {
  color: orange;
}

a:active {
  color: green;
}

footer a:hover {
text-decoration: none;
}

/*No touch*/
h1, h2, nav, .cap, footer {
  text-align: center;
}

nav {
  padding: 1rem 0 2rem 0;
}

figure, h2, footer {
  padding-bottom: 1rem;
}

section {
  padding: 2rem 0;
}

p{
  margin: 0 10vw;
}
